@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  transition: 200ms background-color, 200ms color;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: rgba(249, 250, 251, 1);
  --background-secondary: rgba(18, 18, 18, 1);
  --foreground: rgb(29, 29, 29);
  --foreground-secondary: rgba(243, 244, 246, 1);
  --buttons: rgba(250, 204, 21, 1);
  --border-color: rgba(209, 213, 219, 1);
}

.dark {
  --background: rgba(18, 18, 18, 1);
  --background-secondary: rgba(249, 250, 251, 1);
  --foreground: rgba(243, 244, 246, 1);
  --foreground-secondary: rgba(55, 65, 81, 1);
}

.grid {
  transition: scale 500ms;
  image-rendering: pixelated;
  background-repeat: repeat;
  background-image: url("/grid/grid.png");
  background-size: 3.5vh;
  background-position: center;
  background-attachment: fixed;
  filter: invert(0.5) blur(0px);
  opacity: 0.025;
  z-index: -10;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
